<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:description>voter spring security config</beans:description>

    <http pattern="/static/**" security="none"/>
    <http pattern="/index.jsp" security="none"/>
    <http pattern="/signup" security="none"/>
    <http>
        <intercept-url pattern='/**' access='IS_AUTHENTICATED_REMEMBERED'/>
        <form-login login-page="/" default-target-url="/home" always-use-default-target="true"/>
        <logout logout-url="/logout"/>
        <remember-me user-service-ref="mongoUserDetailsService"/>
    </http>
    <authentication-manager>
        <authentication-provider user-service-ref="mongoUserDetailsService">
            <password-encoder hash="md5">
                <salt-source user-property="username"/>
            </password-encoder>
        </authentication-provider>
    </authentication-manager>

    <beans:bean name="mongoUserDetailsService" class="org.silencer.voter.web.security.MongoUserDetailsService">
        <beans:property name="mongoTemplate" ref="mongoTemplate"/>
    </beans:bean>

</beans:beans>