body {
    padding-top: 60px;
}

.front-bg {
    position: fixed;
    width: 200%;
    height: 200%;
    left: -50%;
    background: #000;
}

.front-bg img {
    display: none;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
}

.front-welcome {
    padding-top: 80px;
}

.welcome-text > h1 {
    color: #fff;
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 30px;
    text-shadow: none;
    font-weight: 700;
    text-align: left;
}

.welcome-text > p {
    color: #fff;
    font-size: 21px;
    line-height: 31px;
    text-shadow: none;
    font-weight: 300;
    text-align: left;
}

.front-sign {
    padding: 0px 25px;
}

.front-sign .row {
    margin-bottom: 5px;
}

.front-signin, .front-signup {
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    background: white;
    box-shadow: none;
    margin-bottom: 10px;
}

.front-sign form {
    margin: 12px 12px 6px;
    font-size: 12px;
}

.col-signin-password {
    padding-right: 0px;
}

.front-signup h2 {
    border-bottom: 1px solid #e1e8ed;
    box-shadow: 0 1px 0 #fff;
    color: #66757f;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin: 0px 0px 12px 0px;
    padding: 10px 12px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.inner-col {
    padding-left: 0px;
    padding-right: 0px;
}

.vote-panel {
    margin-bottom: 0px;
}

.vote-panel-heading {
    padding: 5px 15px;
}

.vote-panel-body {
    padding: 0px 15px;
}

.vote-panel-tools {
    padding: 0px 15px 5px;
    text-align: center;
    background-color: #fff;
    border-top: 0px;
}

.vote-panel-footer {
    padding-top: 0px;
    background-color: #fff;
}

.vote-panel-footer > h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.vote-panel-footer-result {
    margin-bottom: 5px;
}

.vote-panel-footer-result > span {
    position: absolute;
}

.vote-panel-footer-result > .progress {
    margin-left: 20px;
    margin-bottom: 0px;
    margin-right: 100px;
    overflow: visible;
}

.vote-panel-footer-result > .progress > span {
    margin-right: -100px;
    width: 90px;
}

.vote-panel-footer-action {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

.vote-media-heading {
    margin: 0px;
    font-weight: bold;
}

.vote-actions {
    text-align: right;
    overflow: hidden;
    margin: 5px 0px;
}

.vote-actions > .glyphicon {
    margin-left: 15px;
}

.vote-actions-star {
    cursor: pointer;
}

.vote-radio {
    padding-left: 15px;
}

.vote-order {
    position: absolute;
    margin-left: -15px;
}

.vote-self-img {
    height: 50px;
    width: 50px;
}

.vote-self-name {
    margin-bottom: 15px;
    margin-top: 15px;
}

.vote-self-table {
    margin-bottom: 0px;
}

.vote-self-table > thead > tr > th,
.vote-self-table > tbody > tr > td {
    padding: 0px;
}

.front-footer {
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
    color: white;
    font-size: 11px;
    text-align: center;
}