body {
    padding-top: 60px;
}

.inner-col {
    padding-left: 0px;
    padding-right: 0px;
}

.vote-panel {
    margin-bottom: 0px;
}

.vote-panel-heading {
    padding: 5px 15px;
}

.vote-panel-body {
    padding: 0px 15px;
}

.vote-media-heading {
    margin: 0px;
    font-weight: bold;
}

.vote-actions {
    text-align: right;
    overflow: hidden;
    margin: 5px 0px;
}

.vote-actions > .glyphicon {
    margin-left: 15px;
}

.vote-actions-star {
    cursor: pointer;
}